:root {
    --primary-100: rgba(39, 82, 231, 1);
    --primary-80: rgba(82, 117, 236, 1);
    --primary-60: rgba(125, 151, 241, 1);
    --primary-40: rgba(208, 219, 255, 1);
    --primary-20: rgba(245, 248, 254, 1);
    --accenterror-100: rgba(226, 92, 92, 1);
    --accenterror-80: rgba(232, 125, 125, 1);
    --accenterror-60: rgba(238, 157, 157, 1);
    --accenterror-40: rgba(243, 190, 190, 1);
    --accenterror-20: rgba(249, 222, 222, 1);
    --accentsuccess-100: rgba(83, 210, 88, 1);
    --accentsuccess-80: rgba(117, 219, 121, 1);
    --accentsuccess-60: rgba(152, 228, 155, 1);
    --accentsuccess-40: rgba(186, 237, 188, 1);
    --accentsuccess-20: rgba(221, 246, 222, 1);
    --base-100: rgba(17, 17, 17, 1);
    --base-80: rgba(112, 112, 112, 1);
    --base-60: rgba(160, 160, 160, 1);
    --base-40: rgba(207, 207, 207, 1);
    --base-20: rgba(227, 227, 227, 1);
    --base-0: rgba(255, 255, 255, 1);
    --mobile-heading-h1-font-family: "Roboto-Bold", Helvetica;
    --mobile-heading-h1-font-weight: 700;
    --mobile-heading-h1-font-size: 40px;
    --mobile-heading-h1-letter-spacing: 0px;
    --mobile-heading-h1-line-height: 125%;
    --mobile-heading-h1-font-style: normal;
    --mobile-heading-h2-font-family: "Roboto-Bold", Helvetica;
    --mobile-heading-h2-font-weight: 700;
    --mobile-heading-h2-font-size: 32px;
    --mobile-heading-h2-letter-spacing: 0px;
    --mobile-heading-h2-line-height: 125%;
    --mobile-heading-h2-font-style: normal;
    --mobile-heading-h3-font-family: "Roboto-Bold", Helvetica;
    --mobile-heading-h3-font-weight: 700;
    --mobile-heading-h3-font-size: 30px;
    --mobile-heading-h3-letter-spacing: 0px;
    --mobile-heading-h3-line-height: 125%;
    --mobile-heading-h3-font-style: normal;
    --mobile-heading-h4-font-family: "Roboto-Bold", Helvetica;
    --mobile-heading-h4-font-weight: 700;
    --mobile-heading-h4-font-size: 28px;
    --mobile-heading-h4-letter-spacing: 0px;
    --mobile-heading-h4-line-height: 129.99999523162842%;
    --mobile-heading-h4-font-style: normal;
    --mobile-heading-h5-font-family: "Roboto-Bold", Helvetica;
    --mobile-heading-h5-font-weight: 700;
    --mobile-heading-h5-font-size: 22px;
    --mobile-heading-h5-letter-spacing: 0px;
    --mobile-heading-h5-line-height: 135.0000023841858%;
    --mobile-heading-h5-font-style: normal;
    --mobile-body-semibold-XXL-font-family: "Inter-SemiBold", Helvetica;
    --mobile-body-semibold-XXL-font-weight: 600;
    --mobile-body-semibold-XXL-font-size: 20px;
    --mobile-body-semibold-XXL-letter-spacing: 0px;
    --mobile-body-semibold-XXL-line-height: 129.99999523162842%;
    --mobile-body-semibold-XXL-font-style: normal;
    --mobile-body-semibold-XL-font-family: "Inter-SemiBold", Helvetica;
    --mobile-body-semibold-XL-font-weight: 600;
    --mobile-body-semibold-XL-font-size: 18px;
    --mobile-body-semibold-XL-letter-spacing: 0px;
    --mobile-body-semibold-XL-line-height: 135.0000023841858%;
    --mobile-body-semibold-XL-font-style: normal;
    --mobile-body-semibold-l-font-family: "Inter-SemiBold", Helvetica;
    --mobile-body-semibold-l-font-weight: 600;
    --mobile-body-semibold-l-font-size: 16px;
    --mobile-body-semibold-l-letter-spacing: 0px;
    --mobile-body-semibold-l-line-height: 150%;
    --mobile-body-semibold-l-font-style: normal;
    --mobile-body-semibold-m-font-family: "Inter-SemiBold", Helvetica;
    --mobile-body-semibold-m-font-weight: 600;
    --mobile-body-semibold-m-font-size: 14px;
    --mobile-body-semibold-m-letter-spacing: 0px;
    --mobile-body-semibold-m-line-height: 154.99999523162842%;
    --mobile-body-semibold-m-font-style: normal;
    --mobile-body-semibold-s-font-family: "Inter-SemiBold", Helvetica;
    --mobile-body-semibold-s-font-weight: 600;
    --mobile-body-semibold-s-font-size: 12px;
    --mobile-body-semibold-s-letter-spacing: 0px;
    --mobile-body-semibold-s-line-height: 164.9999976158142%;
    --mobile-body-semibold-s-font-style: normal;
    --mobile-body-semibold-XS-font-family: "Inter-SemiBold", Helvetica;
    --mobile-body-semibold-XS-font-weight: 600;
    --mobile-body-semibold-XS-font-size: 10px;
    --mobile-body-semibold-XS-letter-spacing: 0px;
    --mobile-body-semibold-XS-line-height: 164.9999976158142%;
    --mobile-body-semibold-XS-font-style: normal;
    --mobile-body-regular-XXL-font-family: "Inter-Regular", Helvetica;
    --mobile-body-regular-XXL-font-weight: 400;
    --mobile-body-regular-XXL-font-size: 20px;
    --mobile-body-regular-XXL-letter-spacing: 0px;
    --mobile-body-regular-XXL-line-height: 129.99999523162842%;
    --mobile-body-regular-XXL-font-style: normal;
    --mobile-body-regular-XL-font-family: "Inter-Regular", Helvetica;
    --mobile-body-regular-XL-font-weight: 400;
    --mobile-body-regular-XL-font-size: 18px;
    --mobile-body-regular-XL-letter-spacing: 0px;
    --mobile-body-regular-XL-line-height: 135.0000023841858%;
    --mobile-body-regular-XL-font-style: normal;
    --mobile-body-regular-l-font-family: "Inter-Regular", Helvetica;
    --mobile-body-regular-l-font-weight: 400;
    --mobile-body-regular-l-font-size: 16px;
    --mobile-body-regular-l-letter-spacing: 0px;
    --mobile-body-regular-l-line-height: 150%;
    --mobile-body-regular-l-font-style: normal;
    --mobile-body-regular-m-font-family: "Inter-Regular", Helvetica;
    --mobile-body-regular-m-font-weight: 400;
    --mobile-body-regular-m-font-size: 14px;
    --mobile-body-regular-m-letter-spacing: 0px;
    --mobile-body-regular-m-line-height: 154.99999523162842%;
    --mobile-body-regular-m-font-style: normal;
    --mobile-body-regular-s-font-family: "Inter-Regular", Helvetica;
    --mobile-body-regular-s-font-weight: 400;
    --mobile-body-regular-s-font-size: 12px;
    --mobile-body-regular-s-letter-spacing: 0px;
    --mobile-body-regular-s-line-height: 164.9999976158142%;
    --mobile-body-regular-s-font-style: normal;
    --mobile-body-regular-XS-font-family: "Inter-Regular", Helvetica;
    --mobile-body-regular-XS-font-weight: 400;
    --mobile-body-regular-XS-font-size: 10px;
    --mobile-body-regular-XS-letter-spacing: 0px;
    --mobile-body-regular-XS-line-height: 164.9999976158142%;
    --mobile-body-regular-XS-font-style: normal;
    --mobile-display-display1-font-family: "Roboto-Light", Helvetica;
    --mobile-display-display1-font-weight: 300;
    --mobile-display-display1-font-size: 40px;
    --mobile-display-display1-letter-spacing: 0px;
    --mobile-display-display1-line-height: 125%;
    --mobile-display-display1-font-style: normal;
    --web-heading-h1-font-family: "Roboto-Bold", Helvetica;
    --web-heading-h1-font-weight: 700;
    --web-heading-h1-font-size: 56px;
    --web-heading-h1-letter-spacing: 0px;
    --web-heading-h1-line-height: 125%;
    --web-heading-h1-font-style: normal;
    --web-heading-h2-font-family: "Roboto-Bold", Helvetica;
    --web-heading-h2-font-weight: 700;
    --web-heading-h2-font-size: 48px;
    --web-heading-h2-letter-spacing: 0px;
    --web-heading-h2-line-height: 125%;
    --web-heading-h2-font-style: normal;
    --web-heading-h3-font-family: "Roboto-Bold", Helvetica;
    --web-heading-h3-font-weight: 700;
    --web-heading-h3-font-size: 40px;
    --web-heading-h3-letter-spacing: 0px;
    --web-heading-h3-line-height: 120.00000476837158%;
    --web-heading-h3-font-style: normal;
    --web-heading-h4-font-family: "Roboto-Bold", Helvetica;
    --web-heading-h4-font-weight: 700;
    --web-heading-h4-font-size: 32px;
    --web-heading-h4-letter-spacing: 0px;
    --web-heading-h4-line-height: 120.00000476837158%;
    --web-heading-h4-font-style: normal;
    --web-heading-h5-font-family: "Roboto-Bold", Helvetica;
    --web-heading-h5-font-weight: 700;
    --web-heading-h5-font-size: 24px;
    --web-heading-h5-letter-spacing: 0px;
    --web-heading-h5-line-height: 125%;
    --web-heading-h5-font-style: normal;
    --web-heading-h6-font-family: "Roboto-Bold", Helvetica;
    --web-heading-h6-font-weight: 700;
    --web-heading-h6-font-size: 20px;
    --web-heading-h6-letter-spacing: 0px;
    --web-heading-h6-line-height: 129.99999523162842%;
    --web-heading-h6-font-style: normal;
    --web-body-semibold-XS-font-family: "Inter-SemiBold", Helvetica;
    --web-body-semibold-XS-font-weight: 600;
    --web-body-semibold-XS-font-size: 10px;
    --web-body-semibold-XS-letter-spacing: 0px;
    --web-body-semibold-XS-line-height: 164.9999976158142%;
    --web-body-semibold-XS-font-style: normal;
    --web-body-semibold-XXL-font-family: "Inter-SemiBold", Helvetica;
    --web-body-semibold-XXL-font-weight: 600;
    --web-body-semibold-XXL-font-size: 20px;
    --web-body-semibold-XXL-letter-spacing: 0px;
    --web-body-semibold-XXL-line-height: 139.9999976158142%;
    --web-body-semibold-XXL-font-style: normal;
    --web-body-semibold-XL-font-family: "Inter-SemiBold", Helvetica;
    --web-body-semibold-XL-font-weight: 600;
    --web-body-semibold-XL-font-size: 18px;
    --web-body-semibold-XL-letter-spacing: 0px;
    --web-body-semibold-XL-line-height: 145.00000476837158%;
    --web-body-semibold-XL-font-style: normal;
    --web-body-semibold-l-font-family: "Inter-SemiBold", Helvetica;
    --web-body-semibold-l-font-weight: 600;
    --web-body-semibold-l-font-size: 16px;
    --web-body-semibold-l-letter-spacing: 0px;
    --web-body-semibold-l-line-height: 150%;
    --web-body-semibold-l-font-style: normal;
    --web-body-semibold-m-font-family: "Inter-SemiBold", Helvetica;
    --web-body-semibold-m-font-weight: 600;
    --web-body-semibold-m-font-size: 14px;
    --web-body-semibold-m-letter-spacing: 0px;
    --web-body-semibold-m-line-height: 160.0000023841858%;
    --web-body-semibold-m-font-style: normal;
    --web-body-semibold-s-font-family: "Inter-SemiBold", Helvetica;
    --web-body-semibold-s-font-weight: 600;
    --web-body-semibold-s-font-size: 12px;
    --web-body-semibold-s-letter-spacing: 0px;
    --web-body-semibold-s-line-height: 170.00000476837158%;
    --web-body-semibold-s-font-style: normal;
    --web-body-regular-XXL-font-family: "Inter-Regular", Helvetica;
    --web-body-regular-XXL-font-weight: 400;
    --web-body-regular-XXL-font-size: 20px;
    --web-body-regular-XXL-letter-spacing: 0px;
    --web-body-regular-XXL-line-height: 139.9999976158142%;
    --web-body-regular-XXL-font-style: normal;
    --web-body-regular-XL-font-family: "Inter-Regular", Helvetica;
    --web-body-regular-XL-font-weight: 400;
    --web-body-regular-XL-font-size: 18px;
    --web-body-regular-XL-letter-spacing: 0px;
    --web-body-regular-XL-line-height: 145.00000476837158%;
    --web-body-regular-XL-font-style: normal;
    --web-body-regular-l-font-family: "Inter-Regular", Helvetica;
    --web-body-regular-l-font-weight: 400;
    --web-body-regular-l-font-size: 16px;
    --web-body-regular-l-letter-spacing: 0px;
    --web-body-regular-l-line-height: 150%;
    --web-body-regular-l-font-style: normal;
    --web-body-regular-m-font-family: "Inter-Regular", Helvetica;
    --web-body-regular-m-font-weight: 400;
    --web-body-regular-m-font-size: 14px;
    --web-body-regular-m-letter-spacing: 0px;
    --web-body-regular-m-line-height: 160.0000023841858%;
    --web-body-regular-m-font-style: normal;
    --web-body-regular-s-font-family: "Inter-Regular", Helvetica;
    --web-body-regular-s-font-weight: 400;
    --web-body-regular-s-font-size: 12px;
    --web-body-regular-s-letter-spacing: 0px;
    --web-body-regular-s-line-height: 170.00000476837158%;
    --web-body-regular-s-font-style: normal;
    --web-body-regular-XS-font-family: "Inter-Regular", Helvetica;
    --web-body-regular-XS-font-weight: 400;
    --web-body-regular-XS-font-size: 10px;
    --web-body-regular-XS-letter-spacing: 0px;
    --web-body-regular-XS-line-height: 164.9999976158142%;
    --web-body-regular-XS-font-style: normal;
    --web-display-display1-font-family: "Roboto-Light", Helvetica;
    --web-display-display1-font-weight: 300;
    --web-display-display1-font-size: 48px;
    --web-display-display1-letter-spacing: 0px;
    --web-display-display1-line-height: 125%;
    --web-display-display1-font-style: normal;
  }
  